body{
  background: #eee;
}
span{
  font-size:15px;
}
a{
text-decoration:none; 
color: #004D40;
border-bottom:2px solid #004D40;
}
.box{
  padding:50px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:40px 10px;
  margin:20px 0px;
}
.text{
  margin:20px 0px;
}

.fa{
   color:#4183D7;
}


#logo{
}

body{
    background-color: #ebeff5;
}


#total-orders{
    background-color: #4cb4c7;
}


#orders-delivered{
    background-color: #7abecc;
}

#orders-pending{
    background-color: #7CD1C0;
}